/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    color: #4CAF50;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #555;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

main .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    gap: 20px;

}

main .content {
    flex: 1;
    padding: 20px;
    background-color: #e7f3fe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
    /*text-align: center;*/


}

.ad-left, .ad-right {
    width: 160px;
    background-color: #f0f0f0;
    height: 700px;

}

.welcome-box, .contact-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /*max-width:600px;*/

}

.welcome-box h1, .contact-box h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.welcome-box p, .contact-box p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.welcome-box ul {
    text-align: left;
    color: #666;
    font-size: 1.2em;
}

.simulation-button, .contact button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.simulation-button:hover, .contact button:hover {
    background-color: #45a049;
}

.contact label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}

.contact input, .contact textarea {
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact input:focus, .contact textarea:focus {
    border-color: #4CAF50;
    outline: none;
}




.main-content {
    flex: 3;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;

}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, button, datalist {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    width: 400px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    /*background-color: #e7f3fe;
    border: 1px solid #b3d4fc;*/
    padding: 10px;
    /*border-radius: 5px;*/
}


h1 {

    text-align: center;
}

.text-center {
  text-align: center;
}